body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-areas:
    "head"
    "slide"
    "conten"
    "footer";
}
body {
  background-color: #bdcdd6;
}
/* HEADER - NAVBAR STARTS HERE */
.App__header {
  grid-area: head;
  background-color: #6096b4;
  height: 30vh;
}
.nav {
  background: #6096b4;
  width: 70rem;
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  height: 4.5rem;
  margin: auto;
}
/* HEADER - NAVBAR ENDS HERE */
/* SLIDER STARTS HERE */
.slider {
  grid-area: slide;
  background-color: #eee9da;
  height: 20vh;
}
/* SLIDER ENDS HERE */
/* PRODUCTS STARTS HERE */
.App__product {
  grid-area: conten;
  background-color: #eee9da;
  height: 110vh;
}

/* PRODUCTS ENDS HERE */
/* FOOTER STARTS HERE */
.App__footer {
    grid-area: footer;
    background-color: #8faae2;
    height: 100%;
    width: 100%;
}

.footer__section {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0rem 5rem;
    padding-top:2rem;
}

.colm__row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0rem;
    width: 9rem;
    margin: 1rem;
}

.row__img {
    width: 60px;
    height: 70px;
    object-fit: cover;
    padding: 0;
}

.subscribe__btn {
    background-color: antiquewhite;
    border: none;
    margin: 0rem;
    height: 2rem;
}

#email {
    border: none;
    height: 2rem;
    margin: 0rem;
}

form {
    margin-top: 3rem;
}

.bottom__link {
    border-top: 2px solid #485164;
    border-bottom: 2px solid #485164;
    box-shadow: 0px 3px 10px #181c22;
    padding: 1rem;
    margin:0rem;
}

li, a, h5 {
    text-decoration: none;
    display: inline;
    color: black;
    padding: 0.5rem;
}

.dev__info {
    display: flex;
    justify-content: center;
    margin: 1rem;
    text-align:center;
}


/* FOOTER ENDS HERE */
@media screen and (max-width: 1200px) {
    .footer__section {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

        .footer__section > h1 {
            grid-column: 1/span 2;
            margin: 2rem;
            text-align: center;
        }

    .footer__colm {
        text-align: center;
    }

    .form {
        margin-top: 5rem;
        grid-column: 1/span 2;
    }
}
/* RESPONSIVNESS BELOW */
